.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 40px 0;

  backdrop-filter: blur(30px);
  position: fixed;
  top: 0;
  z-index: 100;
 
}
.navbar {
 
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 50px;
 
}
.head {
  font-weight: bold;
  align-items: center;
  display: flex;
  color: white;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.unorder {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 18px;
  color: white;
  @media (width< 750px) {
    display: none;
    
  }
}
.list {
  columns: white;
  font-weight: 700;
  font-size: 14px;
  @media (width< 750px) {
    display: none;
    
  }
}
.img {
  width: 50px;
  height: 50px;
  background: white;
  object-fit: contain;
  border-radius: 50%;
}
.imglogo{
  width: 50px;
  height: 50px;
}
.btns {
  display: flex;
  gap: 10px;
  @media (width < 780px) {
   display: none;
    
    
  }
}
.btnss {
  display: flex;
  gap: 10px;
  @media (width < 780px) {
    flex-direction: column;

    
  }
}
.signbtn {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 20px;
  @media (width < 780px) {
    display: none;
    
  }
}
.regibtn {
  background: orangered;
  border: none;
  padding: 20px 20px;
  color: white;
  font-weight: 600;
  @media (width < 780px) {
    display: none;
    
  }
}
.signbtns {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 20px;
  display: none;
  @media (width < 780px) {
    display: flex;
    
  }
}
.regibtns {
  background: orangered;
  border: none;
  padding: 20px 20px;
  color: white;
  font-weight: 600;
  display: none;
  @media (width < 780px) {
    display: flex;
    
  }
}
.toggle {
  width: 100%;
  position: fixed;
  background: linear-gradient(210deg, blue, gray);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: 1s animate ease-in-out;
  z-index: 100;
}
@keyframes animate {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.toggles {
  width: 100%;
  position: fixed;
  background: rgba(43, 56, 85, 0.973);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: 1s animates ease-in-out;
  z-index: 100;
}
@keyframes animates {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}
.menuimg {
  width: 50%;
  height: 30px;
  background: white;
}
.toggletext {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.log {
  width: 90%;
  background: transparent;
  border: 4px solid white;
  border-radius: 10px;
  padding: 10px;
}
.totext {
  margin: 0;
  color: white;
  font-weight: 400;
  padding: 10px 10px;
}
.menulogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}
.mobilemenu {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hamburger {
  display: none;
  @media (width <780px) {
    display: flex;
  }
}